{% extends 'base.html' %}

{% block content %}
        <div class="container">
        <div class="jumbotron">
            <div class="card card-body">
                <h1>Sign in here</h1>
                <form action="{% url 'login' %}" method="POST"  >
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="exampleInputUsername1">
                        <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Login</button>
                    </form>

            </div>
             
             

        </div>
    </div>
{% endblock %}